<div class="divConteudo row">
    <div class="">
        <header class="headerBlog col l8">
            <span>BLOG DA <span class="colorGreen">GEOCORR</span></span>    
        </header>
        <div class="col l4"></div>
    </div>
    

    <div class="">
        <div class="col l8">
            <h4>NOTÍCIAS</h4>
            <hr class="col l12 m12 s12 hrGreen">
            <div id="listNoticias"></div>
        </div>
        <div class="col l4 previewLast">
            <h5 style="text-align:center">ULTIMAS ARTIGOS</h5>
            <div class="divider"></div>
            <div id="lastsNews"></div>
        </div>
    </div>
</div>


