<div class="row">
    <div class="col s12">
    <ul class="tabs">
        <li class="tab col s6"><a href="#carousel">Enviar imagem</a></li>
        <li id="getAllCarousel" class="tab col s6"><a class="active" href="#imagesCarosel">LISTA DE IMAGENS</a></li>
    </ul>
    </div>

    <!--  GET ALL IMAGES FROM CAROUSEL -->
    <div id="imagesCarosel">
        <div id="listImageCarousel">

        </div>
    </div>



    <!-- ENVIA IMAGENS DO CAROUSLE -->
    <div id="carousel" class="col s12">
        
            <form id="formCarousel" class="col s12" enctype="multipart/form-data">

                <div class="divFormCarousel">
                    <div class="file-field input-field">
                        <div class="btn">
                            <span>File</span>
                            <input id="carousel" name="carousel" type="file">
                        </div>
        
                        <div class="file-path-wrapper">
                            <input id="carouselInput" class="file-path validate" type="text">
                        </div>
                    </div>
                </div>
        
                <button type="button" class="btn right" id="sendCarousel">ENVIAR</button>
        
            </form>
        

    </div>



</div>
