<div class="row">
    <div class="col s12">
        <ul class="tabs">
        <li class="tab col s3"><a href="#quemSomos" class="active">QUEM SOMOS</a></li>
        <li class="tab col s3"><a href="#missao">MISSÃO</a></li>
        <li class="tab col s3"><a href="#valores">VALORES</a></li>
        <li class="tab col s3"><a href="#visao">VISÃO</a></li>
        </ul>
    </div>


    <div id="quemSomos" class="col s12">
        <div class="row divQuemSomosDashboard">
            <label>TITULO</label>
            <input id="titleAbout" class="titleDash" type="text">
            <label>TEXTO</label>
            <textarea id="textAbout"></textarea>
            <button id="sendAbout" class="btn right">ENVIAR</button>
        </div>
    </div>


    <div id="missao" class="col s12">
        <div class="row divQuemSomosDashboard">
            <label>TITULO</label>
            <input class="titleDash" type="text" value="MISSÃO" disabled>
            <label>TEXTO</label>
            <textarea id="textMission"></textarea>
            <button id="sendAboutMission" class="btn right">ENVIAR</button>
        </div>
    </div>

    <div id="valores" class="col s12">
        <div class="row divQuemSomosDashboard">
            <label>TITULO</label>
            <input class="titleDash" type="text" value="VALORES" disabled>
            <label>TEXTO</label>
            <textarea id="textValues"></textarea>
            <button id="sendAboutValues" class="btn right">ENVIAR</button>
        </div>
    </div>

    <div id="visao" class="col s12">
        <div class="row divQuemSomosDashboard">
            <label>TITULO</label>
            <input class="titleDash" type="text" value="VISÃO" disabled>
            <label>TEXTO</label>
            <textarea id="textVision"></textarea>
            <button id="sendAboutVision" class="btn right">ENVIAR</button>
        </div>
    </div>
</div>

