<div class="col l12 m12 s12 geralClientes">

    <h4>CADASTRO</h4>
    <div class="divider"></div>
    <br>

    <div class="col l12 m12 s12 divCad">
        <input id="nameClient" class="col l5 m5 s5" placeholder="NOME DO CLIENTE" required>
        <span class="col l1 m1 s1"></span>
        <input id="emailClient" class="col l5 m5 s5" placeholder="EMAIL DO CLIENTE" required>
        <input type="password" id="passClient" class="col l5 m5 s4" placeholder="SENHA">
        <span class="col l1 m1 s1"></span>
        <input type="password" id="passClientAgain" class="col l5 m5 s5" placeholder="SENHA *">

        <button id="cadastrarCliente" class="btn center">CADASTRAR</button>
    </div>
    <br>
        <!-- LISTAGEM DE CLIENTES -->
    <div class="col l12 m12 s12 divGeralClientes">
        <label class="labelCliente col l12 m12 s12" >CLIENTES</label>
        <div class="divider"></div>
        <table class="bordered striped highlight" >
            <tbody id="listClientes">

            </tbody>
        </table>
    </div>
</div>  

<!-- MODAL CLIENTE -->
<div w3-include-html="../modal/modalClient.html"></div>