<div class="backDash">
    <ul class="collapsible listDashboard" data-collapsible="accordion">

        <li>
            <div class="collapsible-header">PÁGINA INICIAL</div>
            <div class="collapsible-body">
                <div w3-include-html="../dashboard/paginaInicial.html"></div>
            </div>
        </li>
    
        <li>
            <div class="collapsible-header">QUEM SOMOS</div>
            <div class="collapsible-body">
                <div w3-include-html="../dashboard/quemSomos.html"></div>
            </div>
        </li>
    
        <li>
            <div class="collapsible-header">SERVIÇOS</div>
            <div class="collapsible-body">
                <div w3-include-html="../dashboard/servicos.html"></div>
            </div>
        </li>
    
        <li>
            <div class="collapsible-header">PARCEIROS E CLIENTES</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
    
    </ul>
</div>

<!-- //MODAL ADD CLIENTE -->
<div w3-include-html="../modal/modalNewUser.html"></div>