<div class="row pageContent">
    <!-- MENU -->
    <div id="divNav" class="divNav">
        <div w3-include-html="../menu/nav.html"></div>
    </div>
    
    <!--DASHBOARD-->
    <div id="divDashboard" class="col l10 ">
        <div w3-include-html="../container/dashboard.html"></div>
    </div>

    <!--BLOG-->
    <div id="divBlog" class="col l10 ">
        <div w3-include-html="../container/blog.html"></div>
    </div>

    <div id="divClientes" class="col l10 ">
        <div w3-include-html="../container/clientes.html"></div>
    </div>

    <div id="divChat" class="col l10 ">
        <div w3-include-html="../container/chat.html"></div>
    </div>
</div>

