.divBlog {
    display: none;
}
.geralBlog {
    font-family: "Montserrat";
}
#dateNow {
    text-align: center;
}
.geralBlog textarea {
    height: 400px;
    resize: none;
}
.geralBlog .btn {
    margin-top: 2%;
}

/*  PAGINA BLOG */
.divGeralBlog .navBlog {
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
}
.divGeralBlog .navBlog img {
    width: 7%!important;
    margin: 1%;
}

.listNav {
    color: black;
    font-family: "Montserrat";
    cursor: pointer;
    font-weight: bold;
}
.nameBlog {
    text-decoration: underline;
}
.divOptionsNav {
    margin-top: 1%;
}
.divConteudo {
    padding: 5%;
    margin-top: 8%!important;
    font-family: "Montserrat";
}
.colorGreen {
    color: #008800;
}
.headerBlog span {
    font-size: 30pt;
    font-weight: bold;
}
.divConteudo .hrGreen {
    width: 60%;
    border: solid 2px #008800;
    border-radius: 10px;
}
.previewLast {
    overflow: auto;
    margin-top: 6%;
    color: white;
    text-align: justify;
    background-color: #008800;
    border-radius: 7px;
    max-height: 300px;
    min-height: 300px;
}

.titlePostBlog {
    font-weight: 900;
    font-size: 18pt;
    text-transform: uppercase;
}
#listNoticias {
    margin-top: 5%;
}
.listDataPosts .imgPosts {
    width: 100%;
}
.listDataPosts {
    height: auto;
    margin: 1%;
    padding: 1%;
}
.postBlog {
    font-family: "Montserrat";
    font-weight: bold;
}
.titlePostLastsBlog {
    text-transform: uppercase;
    cursor: pointer;
    font-family: "Raleway";
    font-weight: none;
}

.readMore{
    cursor: pointer;
    font-size: 13pt;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .previewLast {
        display: none;
    }
}