#addUser{
    cursor: pointer;
}
.listDashboard {
    font-family: "Montserrat";
    font-size: 14pt;
    font-weight: 200;
}

.tabs .tab a {
    color: black!important;
}

.tabs .indicator{
    background-color: #2C3B41;
}
.divCadastroUser {
    padding: 2%;
}
#image-holder {
    height: 250px!important;
    border: solid 1px black;
}