<!-- FOOTER -->
<footer class="footerPage row col l12 m12 s12">

    <div class="col l4 m4 s12">
        <h4>NOSSOS SERVIÇOS</h4>
        <div class="divider"></div>
        <h6>Consultoria Ambiental</h6>
        <h6>Elaboração de Estudo Ambiental</h6>
        <h6>Medição Atmosfera</h6>
        <h6>Engenharia Ambiental Consultiva</h6>
        <button id="btnOrcamento" class="btn btnCard">SOLICITAR ORÇAMENTO</button>
    </div>

    <div class="col l4 m4 s12">
        <h4>CONTATO</h4>
        <div class="divider"></div>
        <i class="material-icons iconFooter">phone</i><a href="tel:85981362726">(85)9-8136-2726</a><br>
        <i class="material-icons iconFooter">mail</i><a href="mailto:">contato@geocorrambiental.com.br</a><br>
        <br>
        <img src="../../images/logoBranca.png">
    </div>

    <div class="col l4 m4 s12"><br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31850.954422881947!2d-38.528476182519384!3d-3.729416126342996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c748637029cea5%3A0x43c0251213a1e925!2sAv.+Des.+Moreira%2C+760+-+Meireles%2C+Fortaleza+-+CE!5e0!3m2!1spt-BR!2sbr!4v1521432556550" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="divider"></div>
        <h6>Avenida Desembargador Moreira, 760, Sala 1103 <br> Meireles - Fortaleza-ce</h6>
    </div>
    
</footer>