<!--MENU-->
<nav class="menuNav col l12 m12 s12">
   <label id="day">Bom dia,</label> <b><label id="nameUser">Roberto Carlos</label></b>.
</nav>

<nav class="menuLateral col l2 m6 s6">

    <ul class="col l12 m12 s12">
        <li id="dashboard" class="col l12 m12 s12"><a>DASHBOARD</a></li>
        <li id="blog" class="col l12 m12 s12"><a>BLOG</a></li>
        <li id="clientes" class="col l12 m12 s12"><a>CLIENTES</a></li>
        <li id="artigos" class="col l112 m12 s12"><a>ARTIGOS</a></li>
        <li id="chat" class="col l112 m12 s12"><a>CHAT</a></li>
        <li id="sair" class="col l112 m12 s12"><a>SAIR</a></li>
    </ul>
</nav>

