<div class="divGeralBlog row">
    <nav class="col l12 m12 navBlog">
        <img class="col l2 logo" src="../../images/logo.png">
        <div class="col l10 divOptionsNav">
            <span class="col l2"></span>
            <span class="col l2 listNav">PÁGINA INICIAL</span>
            <span class="col l2 listNav">QUEM SOMOS</span>
            <span class="col l2 listNav">SERVIÇOS</span>
            <span class="col l2 listNav">CONTATO</span>
            <span class="col l2 listNav nameBlog">BLOG</span>
        </div>
    </nav>
</div>